@(sources: List[models.Sources])

@main("News Agenda") {

    @for(source<-sources) {
        <div class="source column">
            <h2 class="source--heading source--@source.name">@source.name</h2>
            <ol>
            @for((item, i) <- source.items.zipWithIndex) {
                <li class="story">
                  <a href="@item.url">
                    <span class="story__position">@{i+1}</span>
                    <span class="story__title">@item.headline</span>
                  </a>
                </li>
            }
            </ol>
        </div>
    }
}
